.modal.modal {
  display: none;
  width: 400px;
  background: #fff;
  padding: 15px 30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  z-index:1001 !important;

}
div.jquery-modal.blocker {
  z-index:1000 !important;
}
.modal a.close-modal {
  position: absolute;
  top: -12.5px;
  right: -12.5px;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background: url(../images/close.png) no-repeat 0 0;
}

.modal-spinner {
  display: none;
  width: 64px;
  height: 64px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -32px;
  margin-top: -32px;
  background: url(../images/loader24.gif) #111 no-repeat center center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
.modal hr {
  margin: 5px 0 0 0;
}
.modal h3 {
  font-size: 2em;
  font-weight: bold;
  padding: 25px 0;
}
.modal h3 span.icon {
  color:#3B3E40;
}
.link {
  cursor: pointer;
}
.modal h4 {
  font-size: 1.5em;
  font-weight: bold;
  padding: 5px 0;
}
.modal div {
  padding:5px 5px;
}
.modal div:nth-element(last) {
  margin-bottom:20px;
}
.modal div.uploadedFile {
  border:1px #ccc solid;
  margin:5px 0;
  padding:2px;
}
.modal div > div.progress {
  background: #9bc747;
  padding:5px 0px 5px 2px;
  width:0%;
  display:block;
  overflow: hidden;
  color:#FFF;
}
.modal div > div.progress.err {
  background:#c64747;
  width: auto;
}
#modalContents {

}
#modalContents .icon {
  color:inherit !important;
  vertical-align: middle;
  margin-right: 10px;
}

hr:last-of-type {
    margin-bottom: 20px;
}
div.radioGroup>*:not(h4), div.checkboxGroup>*:not(h4) {
    margin-left:20px;
}
div.radioGroup input[type=radio], div.checkboxGroup input[type=checkbox] {
    float: left;
    width:auto !important;
    margin:0 10px 0 0;
    clear:both;
}
div.radioGroup label, div.checkboxGroup label {
    vertical-align: middle;
    display: block;
    min-height: 20px;  
}
@media screen and (min-width:0\0) {
  div.checkboxGroup label {
    padding-top:10px;
  }
  input[type=checkbox] {
    border:none;
  }
}

td.controlsBox {
    padding: 15px 0px;
}
button.small, .button.small  {
    margin:0px;
    position: inherit;
    display:inline;
}
button.small .icon, .button.small .icon {
    width:1em;
}