#backupmodal{
    height:360px;
    width:280px;
}

h4{
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #073642;
    padding-left: 4px;
}

.tables{
    margin-top: 15px;
    padding-top: 4px;
    border: 1px solid #073642;
    height: 55px;
    font-size: 14px;
    border-radius:5px;
}

.tables span:first-child{
    font-weight: bold;
    padding-right: 5px;
}

.avatars{
    margin-top: 15px;
    padding-top: 4px;
    border: 1px solid #073642;
    height: 55px;
    font-size: 14px;
    border-radius:5px;
}

.avatars span:first-child{
    font-weight: bold;
    padding-right: 5px;
}

.drives{
    margin: 15px 0 20px 0;
    padding-top: 4px;
    border: 1px solid #073642;
    height: 55px;
    font-size: 14px;
    border-radius:5px;
}

.backup_icon{
    font-family: "entypo";
    color: #3F7F7F;
}

.drives span:first-child{
    font-weight: bold;
    padding-right: 5px;
}

.backup_loader{
    background-image: url('../images/loader24.gif') !important;
    background-position: 50% 80%!important;
    background-repeat: no-repeat !important;
    background-size:24px!important;
}

#restoremodal{
    height:180px;
    width:350px;
}

.restore{
    margin: 15px 0 15px 0;
    padding-top: 4px;
    border: 1px solid #073642;
    height: 60px;
    font-size: 14px;
    border-radius:5px;
}
