#dropzone,
#dropzone *,
#dropzone-previews,
#dropzone-previews * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
}
#dropzone {
  position: relative;
  padding: 1em;
}
#dropzone #fileSystem{
}


#dropzone {
  border: 1px solid #e9e9e9;
  height: 450px !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 3px;
  background: #f7f7f7;
  padding: 23px;
  overflow: auto !important;
  background-image:url('../images/dropzone2.png');
  background-position:center;
  background-repeat:no-repeat;
  display:none;
  }
 
  .recovery{
      background-image:none !important;
  }