.commentContainer {
  padding:20px 10px;
  clear:both;
}
.commentContainer:hover {
  background: #dfdfdf !important;
}
.commentContainer:nth-child(even) {
  background:#eee;
}
.commentContainer .owner img {
  float:left;
  margin-right: 5px;
  margin-top:-10px;
}
.commentContainer .owner {  
  font-weight: bold;
}
.commentContainer .comment {
  margin-top:5px;
}
input[name=txtAddComment] {
  margin-top:20px;
}
.commentContainer .date {
  color:#999;
  font-size: .8em;
  padding:5px;
}
.commentContainer a.deleteComment span.icon{
  font-size: 1em;
  float:right;
  color:#666 !important;
}
.commentContainer a.deleteComment span.icon:hover {
  color: #ccc !important;
}